.container {
  height: 100%;
  /* top: -115px; */
  clip-path: polygon(0 18vh, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right bottom, #89beffac, #b2d3c878);
  position: relative;
  font-size: 1.5rem;
  bottom: 0px;
}

.space-keepper1 {
  background-image: linear-gradient(#0b1f36, #eff6fff8);
  position: absolute;
  height: 210px;
  width: 100%;
  bottom: 0px;
}

.intro {
  background-color: #eff6ff;
  position: relative;
  display: flex;
  padding: 30px;
  /* height: 160vh; */
}

.intro__left {
  margin-top: 20vh;
  flex: 4;
}

.intro__left__img {
  background-image: url(../img/sunset.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 250px;
  max-width: 510px;
}

.intro__right {
  border-top: #eff6ff 20px solid;
  margin-top: 15vh;
  padding: 20px;
  flex: 6;
}

.sub-title {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
}

h3.sub-title {
  font-size: 1.5rem;
}
