* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #777;
  padding: 30px 30px 0 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #89beff7d, #b2d3c81e),
    url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%); */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%; /* % is inrelate to it's parent element */
  left: 50%;
  transform: translate(-50%, -50%); /* % is inrelate to it's element itself */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /* fixes the shake in animation */
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}

.btn {
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  margin-top: 40px;
  border-radius: 1000px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.btn:hover::after {
  transform: scale(1.3, 1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1000px;
  transition: 0.4s;
}

.btn-animate {
  animation: moveInBtn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; /* animation(like opacity) start from the beginning of page load */
}
