.topics {
  margin: 1rem;
  min-height: 95vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
  /*grid-template-rows: auto;
  grid-auto-rows: auto;
  justify-content: space-around center;
  align-items: center; */
  justify-content: center;
  align-items: center;
}

/* .topic {
  margin: 15px;
  background-repeat: no-repeat;
  height: 27rem;
  width: 24rem;
  border-radius: 20px;
  background-size: cover;
} */

.topic img {
  border: rebeccapurple soid;
  width: 240px;
  height: 270px;
}

/* .topics__topic1 {
  background-image: url(../img/louis-reed-pwcKF7L4-no-unsplash02.jpg);
}
.topics__topic2 {
  background-image: url(../img/markus-spiske-dLL5MsYmPhY-unsplash03.jpg);
}
.topics__topic3 {
  background-image: url(../img/yeshi-kangrang-iuqxv7kFj64-unsplash04.jpg);
}
.topics__topic4 {
  background-image: url(../img/mathew-schwartz-8rj4sz9YLCI-unsplash01.jpg);
}
.topics__topic5 {
  background-image: url(../img/yeshi-kangrang-iuqxv7kFj64-unsplash04.jpg);
}
.topics__topic6 {
  background-image: url(../img/markus-spiske-dLL5MsYmPhY-unsplash03.jpg);
}
.topics__topic7 {
  background-image: url(../img/louis-reed-pwcKF7L4-no-unsplash02.jpg);
} */
