@import "config";
@import "grid";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: $color-primary;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  // overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 35px;
}

header {
  height: 75vh;
  margin: 10vh 30px 15vh 30px;

  .text-box {
    background: url(/img/background_lg.jpg) 50% 0 repeat-y fixed;
    background-size: cover;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    height: 95%;
    width: $grid-width;
    background-color: rgba($color: $color-primary, $alpha: 0.5);
    margin: 0 auto;
    text-align: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    @include mediaMd {
      width: $grid-widthMd;
    }
    @include mediaLg {
      width: $grid-widthLg;
    }
    @include mediaSm {
      width: 100%;
    }
    .wrapper {
      background-color: rgba($color: $color-primary, $alpha: 0.5);
      height: 70%;
      width: 70%;
      text-align: center;
      h3,
      h1 {
        padding-top: 40px;
      }
    }
  }
}

main {
  position: relative;
}

//-------------------------------------
//section 1
//-------------------------------------
.section1 {
  position: relative;
  min-height: 95vh;
  width: $grid-width;
  margin: 0 auto;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  @include mediaMd {
    width: $grid-widthMd;
  }
  @include mediaLg {
    width: $grid-widthLg;
  }
  @include mediaSm {
    width: $grid-widthSm;
  }
  .wrap {
    margin: 0 auto;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    @include mediaSm {
      flex-direction: column;
    }
    .container__intro__left-img {
      background-image: url(/img/sunset.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 10px;
      height: 250px;
    }
    .container-left {
      flex-basis: 35%;
      @include mediaSm {
        flex-basis: $grid-widthSm;
      }
      padding-right: 15px;
      p {
        line-height: 2;
      }
      h3 {
        margin: 20px 0 5px 0;
      }
    }
    .container-right {
      background-color: lighten($color-primary, 3);
      border-radius: 5px;
      padding: 20px;
      flex-basis: 65%;
      @include mediaSm {
        flex-basis: $grid-widthSm;
      }
      flex-grow: 2;
      h2 {
        margin-bottom: 32px;
      }
      h3 {
      }
      p {
        line-height: 30px;
      }
    }
  }
}

//-------------------------------------
//section 2
//-------------------------------------

.section2 {
  position: relative;
  background-color: lighten($color-primary, 3);
  min-height: 100vh;
  .topics {
    text-align: center;
    margin: 0 auto;
    padding-top: 12%;
    // margin: 0 auto; // this has to have a relative parent element!!!
    width: $grid-width;
    @include mediaMd {
      width: $grid-widthMd;
    }
    @include mediaLg {
      width: $grid-widthLg;
    }
    @include mediaSm {
      width: $grid-widthSm;
    }
    .topic {
      display: inline-block;
      max-width: 250px;
      margin: 10px;
      img {
        width: 100%;
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
      }
    }
    &__topic1 {
      transform: translate(0, 150px);
      @include mediaSm {
        transform: translate(0, 0);
      }
    }
    &__topic2 {
      transform: translate(0, 190px);
      @include mediaSm {
        transform: translate(0, 0);
      }
    }
    &__topic3 {
      transform: translate(0, 130px);
      @include mediaSm {
        transform: translate(0, 0);
      }
    }
  }
}

//--------------------------
//image hover option
//description:scalling affact on the image. this is optional;
//have to discuss further with the ream
//------------------------
// .topic {
//   img {
//     @include easeOut;
//     &:hover {
//       //X and Y offsets relative to the element, blur and spread radius, and color.
//       transform: translate(0, -10px) scale(1.03);
//       -webkit-box-shadow: 0 15px 6px -7px #777;
//       -moz-box-shadow: 0 15px 6px -7px #777;
//       box-shadow: 0 15px 6px -7px #777;
//     }
//   }
// }
//

//--------------------------
//image overlay option
//description: gives a overlay on top of image
////have to discuss further with the ream
//------------------------
.topic {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include easeOut;
    background-color: $color-secondary;
    border-radius: 5px;
    ul {
      color: white;
      font-size: 20px;
      line-height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      list-style: none;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  &:hover .overlay {
    opacity: 1;
  }
}

//-----------------------------------
//main footer animation
//-----------------------------------
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color-primary, 10);
  color: set-text-color($color-primary);
  height: 60px;
}

//-----------------------------------
//scrool animation
//-----------------------------------
.show-on-scroll {
  transition: all 1s ease-out;
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

.topics {
  &__topic1.is-visible {
    transform: translate(0, -50px);
    @include mediaSm {
      transform: translate(0, 0);
    }
  }
  &__topic2.is-visible {
    transform: translate(0, -90px);
    @include mediaSm {
      transform: translate(0, 0);
    }
  }
  &__topic3.is-visible {
    transform: translate(0, -30px);
    @include mediaSm {
      transform: translate(0, 0);
    }
  }
}
