/*---------------------------------------
  Media Query Mixins             
-----------------------------------------*/
/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px; }

h1 {
  color: #3d3d3f;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: normal; }

h2 {
  color: #575757;
  font-size: 35px;
  line-height: normal; }

h3 {
  color: #d7b065;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 6px;
  text-transform: uppercase; }

h4 {
  color: #797979;
  font-size: 20px;
  font-weight: 400; }

p {
  color: #878787;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.2px; }

strong,
span {
  color: #878787;
  font-weight: normal; }

/*---------------------------------------
  Animation           
-----------------------------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  80% { }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.row {
  max-width: 1141px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 30px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: calc(100% / 10); }
  .row .col-1-of-2 {
    width: calc((100% - calc(100% / 10)) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * calc(100% / 10)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * calc(100% / 10)) / 3) + calc(100% / 10)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * calc(100% / 10)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * calc(100% / 10)) / 4) + calc(100% / 10)); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * calc(100% / 10)) / 4) + 2 * calc(100% / 10)); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f0e3ff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300; }

html,
body {
  width: 100%;
  height: 100%; }

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 35px; }

header {
  height: 75vh;
  margin: 10vh 30px 15vh 30px; }
  header .text-box {
    background: url(/img/background_lg.jpg) 50% 0 repeat-y fixed;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    height: 95%;
    width: 1141px;
    background-color: rgba(240, 227, 255, 0.5);
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center; }
    @media screen and (max-width: 925px) {
      header .text-box {
        width: 580px; } }
    @media screen and (min-width: 924px) and (max-width: 1170px) {
      header .text-box {
        width: 850px; } }
    @media screen and (max-width: 625px) {
      header .text-box {
        width: 100%; } }
    header .text-box .wrapper {
      background-color: rgba(240, 227, 255, 0.5);
      height: 70%;
      width: 70%;
      text-align: center; }
      header .text-box .wrapper h3,
      header .text-box .wrapper h1 {
        padding-top: 40px; }

main {
  position: relative; }

.section1 {
  position: relative;
  min-height: 95vh;
  width: 1141px;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }
  @media screen and (max-width: 925px) {
    .section1 {
      width: 580px; } }
  @media screen and (min-width: 924px) and (max-width: 1170px) {
    .section1 {
      width: 850px; } }
  @media screen and (max-width: 625px) {
    .section1 {
      width: 270px; } }
  .section1 .wrap {
    margin: 0 auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row; }
    @media screen and (max-width: 625px) {
      .section1 .wrap {
        flex-direction: column; } }
    .section1 .wrap .container__intro__left-img {
      background-image: url(/img/sunset.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 10px;
      height: 250px; }
    .section1 .wrap .container-left {
      flex-basis: 35%;
      padding-right: 15px; }
      @media screen and (max-width: 625px) {
        .section1 .wrap .container-left {
          flex-basis: 270px; } }
      .section1 .wrap .container-left p {
        line-height: 2; }
      .section1 .wrap .container-left h3 {
        margin: 20px 0 5px 0; }
    .section1 .wrap .container-right {
      background-color: #f8f2ff;
      border-radius: 5px;
      padding: 20px;
      flex-basis: 65%;
      flex-grow: 2; }
      @media screen and (max-width: 625px) {
        .section1 .wrap .container-right {
          flex-basis: 270px; } }
      .section1 .wrap .container-right h2 {
        margin-bottom: 32px; }
      .section1 .wrap .container-right h3 {
        padding: 30px; }
      .section1 .wrap .container-right p {
        line-height: 30px; }

.section2 {
  position: relative;
  background-color: #f8f2ff;
  min-height: 100vh; }
  .section2 .topics {
    text-align: center;
    margin: 0 auto;
    padding-top: 12%;
    width: 1141px; }
    @media screen and (max-width: 925px) {
      .section2 .topics {
        width: 580px; } }
    @media screen and (min-width: 924px) and (max-width: 1170px) {
      .section2 .topics {
        width: 850px; } }
    @media screen and (max-width: 625px) {
      .section2 .topics {
        width: 270px; } }
    .section2 .topics .topic {
      display: inline-block;
      max-width: 250px;
      margin: 10px; }
      .section2 .topics .topic img {
        width: 100%;
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; }
    .section2 .topics__topic1 {
      transform: translate(0, 150px); }
      @media screen and (max-width: 625px) {
        .section2 .topics__topic1 {
          transform: translate(0, 0); } }
    .section2 .topics__topic2 {
      transform: translate(0, 190px); }
      @media screen and (max-width: 625px) {
        .section2 .topics__topic2 {
          transform: translate(0, 0); } }
    .section2 .topics__topic3 {
      transform: translate(0, 130px); }
      @media screen and (max-width: 625px) {
        .section2 .topics__topic3 {
          transform: translate(0, 0); } }

.topic {
  position: relative; }
  .topic .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    background-color: #d7b065;
    border-radius: 5px; }
    .topic .overlay ul {
      color: white;
      font-size: 20px;
      line-height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      list-style: none; }
  .topic img {
    width: 100%;
    height: auto; }
  .topic:hover .overlay {
    opacity: 1; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #d5b0ff;
  color: set-text-color(#f0e3ff);
  height: 60px; }

.show-on-scroll {
  transition: all 1s ease-out;
  opacity: 0; }

.is-visible {
  opacity: 1; }

.topics__topic1.is-visible {
  transform: translate(0, -50px); }
  @media screen and (max-width: 625px) {
    .topics__topic1.is-visible {
      transform: translate(0, 0); } }

.topics__topic2.is-visible {
  transform: translate(0, -90px); }
  @media screen and (max-width: 625px) {
    .topics__topic2.is-visible {
      transform: translate(0, 0); } }

.topics__topic3.is-visible {
  transform: translate(0, -30px); }
  @media screen and (max-width: 625px) {
    .topics__topic3.is-visible {
      transform: translate(0, 0); } }
